.DEMO {
  text-align: center;
}

.header {
  color:goldenrod;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
}

.rule {
  margin-left: 20px;
  display: flex; 
  justify-content: center; 
  flex-direction: row;
}

.ruleName {
  background-color:goldenrod;
  height:100px;
  width: 100px;
  border-radius: 50%;
  display: flex; 
  justify-content: center; 
  flex-direction: column;
}

.ruleName_clicked {
  background-color:tomato;
  height:100px;
  width: 100px;
  border-radius: 50%;
  display: flex; 
  justify-content: center; 
  flex-direction: column;
}

.ruleNameFont {
  color: aliceblue;
  font-size:25px;
  margin-left:auto;
  margin-right:auto;
}

.ruleContent {
  margin-top: 70px;
  margin-left: -40px;
  background-color: indigo;
  height: 40px;
  width: 100px;
  display: flex; 
  justify-content: center; 
  flex-direction: column;
}

.ruleContentFont {
  font-size: 15px;
}

body {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}